<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit($event)">
    <div class="form-group">
      <label>First name</label>
      <input type="text" class="form-control" formControlName="firstName">
      <div
        *ngIf="signupForm.controls['firstName'].invalid
                &&
               (signupForm.controls['firstName'].dirty
               || signupForm.controls['firstName'].touched
               )"
        class="alert alert-danger">
        First name is required field
      </div>
    </div>
    <div>
      <div>
        <label>Last name</label>
      </div>
      <div>
        <input type="text"  formControlName="lastName">
      </div>
    </div>
    <div>
      <div>
        <label>Birth date</label>
      </div>
      <div>
        <input type="date" formControlName="birthDate">
      </div>
    </div>
    <div>
      <div>
        <label>Email</label>
      </div>
      <div>
        <input type="email" formControlName="email">
      </div>
    </div>
    <div>
      <div>
        <label>Phone number</label>
      </div>
      <div>
        <input type="text" formControlName="phone">
      </div>
    </div>
    <div>
      <div>
        <button type="submit">Register</button>
      </div>
    </div>
  </form>
  <div>
    {{ signupForm.controls['firstName'].valid | json}}
  </div>
</div>

<!--private String firstName;

private String lastName;

private Date birthDate;

private String email;

private String phoneNumber;-->
